.screen {
    background-color: white;
    text-align: right;
    max-width: 400px;
    
}



.row {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
}

.btn {
    flex: 0 25%;
    margin: 0.1em;
    background-color: rgb(133, 133, 133);
    border: 10px;
    border-top: 30px;
    width: 4em;
    height: 4em;
}

.background {
  
    background-color: rgb(37, 2, 2);
    padding: 1em;
    max-width: 400px;
}


